<template>
	<form class="form-signin" @submit.prevent="submit">
		<h1 class="h3 mb-3 fw-normal">Please sign in</h1>

		<input v-model="email" type="email" class="form-control" placeholder="Email" />

		<input v-model="password" type="password" class="form-control" placeholder="Password" />

		<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
	</form>
</template>

<script>
import axios from 'axios'
export default {
	name: 'login',
	data() {
		return {
			email: '',
			password: ''
		}
	},
	methods: {
		async submit() {
			await axios.post('login', {
				email: this.email,
				password: this.password,
				scope: 'influencer'
			})

			await this.$router.push('/')
		}
	}
}
</script>

<style scoped>
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>